body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.container {
  max-width: 940px;
  padding: 0 40px;
  margin: 20px auto;
}
hr {
  height: 2px;
  background-color: #000;
}
.cart-items-box {
  display: grid;
  gap: 30px;
  grid-template-columns: 1fr 1fr;
}
.cart-item {
  border: 2px solid #517c8d;
  padding: 20px;
  font-weight: 400;
  width: 400px;
  max-width: 200px;
}
.cart-item:first-child {
  justify-self: center;
}
.btn {
  width: 90%;
  background-color: #5489ce;
  padding: 5px 3px;
  display: block;
  margin-bottom: 5px;
  align-items: flex-start;
  cursor: pointer;
}
